.pokemon-card, {
    background-color:rgba(50,50,50,0.5);
    position: fixed;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    &-click-off {
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        width:100%;
        height:100%;
    }
    .pokemon-card-inner,
    .pokemon-card-compare {
        overflow: hidden;
        margin: 0 15px;
        max-height: 500px;
        z-index: 2;
        position: relative;
        border-radius: 10px;
        background:white;
        text-align: center;
        padding:15px 25px;
        a.pokemon-card-close {
            position: absolute;
            cursor: pointer;
            top:15px;
            right:15px;
            color:black;
            transition:all 150ms ease-out;
            &:hover {
                text-decoration: none;
                transform:scale(1.25);
            }
        }
        img.img-responsive {
            margin: 0 auto;
        }
        h2 {
            margin-top:0;
        }
        h4:not(:first-child) {
            margin-top:20px;
        }
        .stats-barchart {
            min-height:200px;
            margin-bottom: 50px;
            .pokemon-stat {
                height:100%;
                min-height:200px;
                position: relative;
                .stat-bar {
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform:translateX(-50%);
                    width:50%;
                    background:black;
                    max-height: 100%;
                    &.stat-speed {
                        background:#FA92B2;
                    }
                    &.stat-special-defense {
                        background:#A7DB8D;
                    }
                    &.stat-special-attack {
                        background:#9DB7F5;
                    }
                    &.stat-defense {
                        background:#FAE078;
                    }
                    &.stat-attack {
                        background:#F5AC78;
                    }
                    &.stat-hp {
                        background:#FF5959;
                    }
                    p {
                        color: white;
                        font-size:11px;
                        font-weight: bold;
                        &.stat-label {
                            position: absolute;
                            top:100%;
                            width:100%;
                            text-align: center;
                            color: black;
                        }
                    }
                }
            }
        }
        // Type coloring
        .card-bar {
            position: absolute;
            top:0;
            left:0;
            height:10px;
            width:100%;
            .bar-color {
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                &:not(:only-child) {
                    &:first-child {
                        -webkit-mask-image: -webkit-gradient(linear, left top, 
                        right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                    }
                    &:last-child {
                        width:75%;
                        left:auto;
                        right:0;
                        -webkit-mask-image: -webkit-gradient(linear, right top, 
                        left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                    }
                }
                &.bug {
                    background:#9EAD19;
                }
                &.dark {
                    background:#4F3A2D;
                }
                &.dragon {
                    background:#755EDF;
                }
                &.electric {
                    background:#FCBA16;
                }
                &.fairy {
                    background:#F3AFF3;
                }
                &.fighting {
                    background:#7C321B;
                }
                &.fire {
                    background:#EC400D;
                }
                &.flying {
                    background:#92A5F2;
                }
                &.ghost {
                    background:#5C5CAD;
                }
                &.grass {
                    background:#73C235;
                }
                &.ground {
                    background:#D1B055;
                }
                &.ice {
                    background:#A8E9FE;
                }
                &.normal {
                    background:#C7C2B9;
                }
                &.poison {
                    background:#8E4290;
                }
                &.psychic {
                    background:#EA457E;
                }
                &.rock {
                    background:#9E863D;
                }
                &.steel {
                    background:#B2B2C2;
                }
                &.water {
                    background:#3193F5;
                }
            }
        }
    }
}