.table-controls {
    margin-bottom: 15px;
    .col-sm-6 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:40px;
        input.table-search {
            padding:2px;
            border-left:0;
            border-top:0;
            border-right:0;
            border-bottom: 2px solid #e5e5e5;
        }
        &:last-child {
            justify-content: flex-end;
        }
        p {
            margin: 0 15px 0 0;
        }
    }
}

table.pokemon-table {
    width:100%;
    th {
        background:#4c4c4c;
        width:12%;
        h3 {
            color: white;
            margin: 10px 0 10px 5px;
            font-size:18px;
            line-height: 24px;
        }
    }

    tbody {
        tr {
            transition:background 150ms ease-out;
            &:hover {
                background:#eeeeee;
                cursor: pointer;
            }
        }
        td {
            width:12%;
            border-top:1px solid #4c4c4c;
            padding:5px;
            p {
                margin: 0;
            }
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    .table-pagination {
        margin:0 5px;
        padding:5px;
        border:1px solid black;
        color:black;
        cursor: pointer;
        transition:color 150ms ease-out;
        &:hover, &-active {
            text-decoration: none;
            background:#4c4c4c;
            color: white;
        }
    }
}