.table-controls {
    margin-bottom: 15px;
    .col-sm-6 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:40px;
        input.table-search {
            padding:2px;
            border-left:0;
            border-top:0;
            border-right:0;
            border-bottom: 2px solid #e5e5e5;
            width:50%;
            @media screen and (max-width:767px) {
                width:75%;
            }
        }
        @media screen and (min-width:768px) {
            &:last-child {
                justify-content: flex-end;
            }
        }
        @media screen and (max-width:767px) {
            justify-content: center;
        }
        p {
            margin: 0 15px 0 0;
        }
    }
}

table.pokemon-table {
    width:100%;
    background:rgba(255,255,255,0.5);
    th {
        background:#4c4c4c;
        width:12%;
        &:last-child {
            @media screen and (min-width:992px) {
                h3 {
                    margin-right:25px;
                }
            }
        }
        h3 {
            color: white;
            margin: 10px 0 10px 5px;
            font-size:18px;
            line-height: 24px;
            @media screen and (max-width:767px) {
                font-size:14px;
            }
        }
    }

    tbody {
        tr {
            transition:background 150ms ease-out;
            &:hover {
                background:#eeeeee;
                cursor: pointer;
            }
        }
        td {
            width:12%;
            border-top:1px solid #4c4c4c;
            padding:5px;
            p {
                margin: 0;
            }
            &:last-child {
                text-align: center;
            }
            .pokemon-save {
                background:url(../img/star.png) no-repeat center center;
                background-size:contain;
                width:20px;
                height:20px;
                display: block;
                transition:all 150ms ease-out;
                &.saved {
                    background-image:url(../img/star-filled.png);
                }
                &:hover {
                    transform:scale(1.2);
                }
            }
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    .table-pagination {
        margin:0 5px;
        padding:5px;
        border:1px solid black;
        color:black;
        cursor: pointer;
        transition:color 150ms ease-out;
        &:hover, &-active {
            text-decoration: none;
            background:#4c4c4c;
            color: white;
        }
    }
}

@keyframes popup-fadeout {
    0% {opacity:1}
    50% {opacity:1}
    100% {opacity:0}
}

.select-compare-popup {
    position: absolute;
    top:30%;
    left:50%;
    transform:translateX(-50%);
    width:300px;
    height:150px;
    background:rgba(255,255,255,0.8);
    border:1px solid black;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    p {
        font-size:16px;
    }
    pointer-events: none;
    animation:popup-fadeout;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}